body {
background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
font-family:  "Nunito", sans-serif;
   
}
    .a {
    color: #ffaaa5;
}
.container {
    margin: 120px auto;
    max-width: 600px;
}
header {
    margin-bottom: 30px;
}

h1 {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    line-height: 2;
    color: #723f0d;

}

.form {
    padding: 30px;
    background-color: #fdffab;
    
    border-radius: 10px;
    display: flex;
}

.prompt {
    padding: 16px;
    border: 1px solid rgba(red, green, blue, alpha);
    width: 80%;
    font-size: 16px;
    border-radius: 50px;
    line-height: 20px;
    color: #feffc8;

}
.submit-button {
    margin-right: 10px;
    background-color: #ffaaa5;
    color: white;
    border: none;
    width: 150px;
    font-size: 16px;
    border-radius: 50px;
    padding: 14px 24px;
    display: flex;
}
.poem {
    font-size: 14px;
    background-color: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);;
    padding: 20px;
    line-height: 24px;
    border-left: 3px solid #ffd3b6;
    border-right: 3px solid #ffd3b6;
    border-radius: 10px;
   
}

.footer {
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
}