body {
background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
font-family:  "Nunito", sans-serif;
   
}
    .a {
    color: turquoise;
}
.container {
    margin: 120px auto;
    max-width: 600px;
}
header {
    margin-bottom: 30px;
}

h1 {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    line-height: 2;
    color: black;
}
.hint {
    line-height: 1.5;
    margin-top: 5px;
    opacity: 0.6;
    font-size: 12px;
}
.container {
    padding: 60px;
    background: #FFFFFF;
    font-family: "Nunito", sans-serif;
    border-radius: 50px;
    
}

.instructions {
    padding: 14px 24px;
    width: 300px;
    height: 30px;
    border-radius: 20px;
    font-family: "Nunito",
        sans-serif;
}

form {
    padding: 30px;
    display: flex;
    width: 100%;
}


.submit-button {
    margin-right: 10px;
    background-color: turquoise;
    color: white;
    border: none;
    width: 150px;
    font-family: "Nunito",
        sans-serif;
    font-size: 16px;
    border-radius: 50px;
    padding: 14px 24px;
    display: flex;
}
.poem {
    font-size: 14px;
    background-color: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);;
    padding: 20px;
    line-height: 24px;
    border-left: 3px solid turquoise;
    border-right: 3px solid turquoise;
    border-radius: 10px;
   
}
.poem-hide {
    display: none;
}
.footer {
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
}
.blink {
    animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}